%h1 Listing recipes
- @recipes.each do |recipe|
  %ul
    %li= recipe.title
    %li= recipe.cooking_time
    %li= recipe.dificulty_level
    %li= recipe.food_type.name
    %li= recipe.food_preference.name
    %li= recipe.cuisine.name
    %li= recipe.ingredients
    %li= recipe.procedure
    %li= link_to 'Show', recipe
    - if user_signed_in?
      .button= link_to 'Edit', edit_recipe_path(recipe)
      .button= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' }  
%br/

%a= link_to 'New Recipe', new_recipe_path, {:class => "button"}
